@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
    font-family: 'Varela Round', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    font-family: 'Ubuntu', sans-serif;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
    padding: 0 20px;
}
nav ul li {
    padding: 0 12px;
}
.brand img {
    width: 44px;
    padding: 0;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('listing.jpg');
    background-size: cover;
    background-position: center;
}
.bottom{
    position: sticky;
    height: 150px;
    background-color: black;
    color: white;
    bottom: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.icons {
    margin-top: 14px;
}
.icons i {
    cursor: pointer;
}
#myProgressBar {
    width: 80vw;
    height: 8px;
    background: #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.songItemContainer { 
    margin-top: 74px;
}
.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 80%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.songItem img {
    width: 30px;
    margin: 0 25px;
    border-radius: 50%;
}
.timestamp {
    margin: 0 23px;
}
.timestamp i {
    cursor: pointer;
}
.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.songInfo img:hover {
    opacity: 1;
}
.time-display {
    margin-top: 10px;
}

/* #gif {
    width: 50px;
    height: 50px;
    margin-top: 10px;
} */